@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dark {
    --text-color: rgb(228, 228, 231);
    --bg-color: rgb(39, 39, 42);
    --close-extreme-color: black;
}

.light {
    --text-color:rgb(33, 19, 13);
    --bg-color: rgb(212, 212, 216);
    --close-extreme-color: white;
}
